absl-py==0.9.0
aiohttp==3.7.2
aiohttp-cors==0.7.0
aioredis==1.3.1
astor==0.8.1
astroid==2.5.1
async-timeout==3.0.1
attrs==20.3.0
auto-sklearn==0.12.3
backcall==0.2.0
beautifulsoup4==4.9.3
blessings==1.7
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
ConfigSpace==0.4.18
contextvars==2.4
cycler==0.10.0
Cython==0.29.22
dask==2021.3.0
dataclasses==0.8
decorator==4.4.2
dill==0.3.2
distributed==2021.3.0
dnspython==1.16.0
eventlet==0.26.1
filelock==3.0.12
future==0.18.2
gast==0.3.3
geatpy==2.6.0
google==3.0.0
google-api-core==1.23.0
google-auth==1.23.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
graphviz==0.16
greenlet==0.4.16
grpcio==1.30.0
h2o==3.32.0.4
h5py==2.10.0
HeapDict==1.0.1
hiredis==1.1.0
hyperopt==0.2.5
idna==2.10
idna-ssl==1.1.0
immutables==0.14
importlib-metadata==1.7.0
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.17.2
joblib==0.16.0
jsonschema==3.2.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-import==0.2.2
lazy-object-proxy==1.5.2
liac-arff==2.4.0
lightgbm==3.1.0
line-counter==0.7.4
Markdown==3.2.2
matplotlib==3.3.3
mccabe==0.6.1
monotonic==1.5
msgpack==1.0.0
multidict==5.0.0
multiprocess==0.70.10
networkx==2.5
numpy==1.16.0
nvidia-ml-py3==7.352.0
opencensus==0.7.11
opencensus-context==0.1.2
openml==0.10.2
pandas==1.1.5
parso==0.7.1
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.8.0
prompt-toolkit==3.0.3
protobuf==3.12.2
psutil==5.7.3
ptyprocess==0.6.0
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.7.2
pylint==2.7.2
pynisher==0.6.4
pyparsing==2.4.7
pyrfr==0.8.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
ray==1.2.0
redis==3.5.3
requests==2.24.0
rsa==4.6
scikit-learn==0.24.1
scipy==1.5.1
six==1.15.0
sklearn==0.0
smac==0.13.1
sortedcontainers==2.3.0
soupsieve==2.0.1
tabulate==0.8.7
tblib==1.7.0
tensorboard==1.12.2
tensorboardX==2.1
tensorflow==1.12.3
termcolor==1.1.0
threadpoolctl==2.1.0
timeout-decorator==0.4.1
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.48.2
traitlets==4.3.3
tune-sklearn==0.2.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.25.9
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
wrapt-timeout-decorator==1.3.1
xgboost==1.1.1
xmltodict==0.12.0
yarl==1.6.2
zict==2.0.0
zipp==3.1.0
